<!-- In templates/dashboard.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <!-- My CSS -->
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  {% endblock %}

  <title>Dashboard</title>
</head>

<body>


  <!-- NAVBAR -->
  <nav>
    <div class="navbar">
      <i class='bx bx-menu'></i>
      <div><img class="img1" src="https://i.ibb.co/QKvrngm/loginpic2.jpg" alt=""></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">Shanaya CRM</span>
          <i class='bx bx-x'></i>
        </div>

        <ul class="links">
          <li><a href="#">HOME</a></li>


         {#Accounts#} 
          <li>
            <a href="#">Accounts</a>
            <i class='bx bxs-chevron-down sales-arrow arrow'></i>
            <ul class="sales-sub-menu sub-menu">

              
              
              <li class="more">
                <span><a href="#" class="color: #ffffff opacity-100 bright-text text-white">General Ledger</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                  <li><a href="#">Import Lead from V-card</a></li>
                
                </ul>
              </li>


              <li class="more">
                <span><a href="#">Accounts Payable</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Accounts</a></li>
                  <li><a href="#">View Accounts</a></li>
                  <li><a href="#">Import Accounts</a></li>
                
                </ul>
              </li>


              <li class="more">
                <span><a href="#">Accounts Receivable</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Contacts</a></li>
                  <li><a href="#">View Contacts</a></li>
                  <li><a href="#">Import Contacts</a></li>
                  <li><a href="#">Import Contacts from V-card</a></li>
                
                </ul>
              </li>

              <li class="more">
                <span><a href="#">Cash Management</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Asset Management</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#"> Budgeting and Forecasting</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Financial Reporting</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Tax Management</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Cost Accounting</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Multi-Currency Support</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
      
            </ul>
          </li>

{#Finance#}
          <li>
            <a href="#">Finance</a>
            <i class='bx bxs-chevron-down sales-arrow arrow'></i>
            <ul class="sales-sub-menu sub-menu">

              
              
              <li class="more">
                <span><a href="#">General Ledger</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                  <li><a href="#">Import Lead from V-card</a></li>
                
                </ul>
              </li>


              <li class="more">
                <span><a href="#">Accounts Payable</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Accounts</a></li>
                  <li><a href="#">View Accounts</a></li>
                  <li><a href="#">Import Accounts</a></li>
                
                </ul>
              </li>


              <li class="more">
                <span><a href="#">Accounts Receivable</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Contacts</a></li>
                  <li><a href="#">View Contacts</a></li>
                  <li><a href="#">Import Contacts</a></li>
                  <li><a href="#">Import Contacts from V-card</a></li>
                
                </ul>
              </li>

              <li class="more">
                <span><a href="#">Cash Management</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Asset Management</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#"> Budgeting and Forecasting</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">


                  <li><a href="{% url 'forecasting' %}">Forecasting</a></li>
                  <li><a href="{% url 'overview' %}">Budgeting</a></li>
                  <li><a href="{% url 'PerDeshbord' %}">Performance</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Cost and Profitability Analysis</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Tax Management</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Financial Reporting and Analytics</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Compliance and Audit Trails</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              
            </ul>
          </li>

{#Inventory Management#}
<li>
  <a href="#">Inventory </a>
  <i class='bx bxs-chevron-down sales-arrow arrow'></i>
  <ul class="sales-sub-menu sub-menu">

    
    
    <li class="more">
      <span><a href="#">User Authentication</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
        <li><a href="#">Import Lead from V-card</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Inventory Management Process      </a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Accounts</a></li>
        <li><a href="#">View Accounts</a></li>
        <li><a href="#">Import Accounts</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Order Management Process</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Contacts</a></li>
        <li><a href="#">View Contacts</a></li>
        <li><a href="#">Import Contacts</a></li>
        <li><a href="#">Import Contacts from V-card</a></li>
      
      </ul>
    </li>

    <li class="more">
      <span><a href="#">Warehouse Operations</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Reports and Analytics</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#"> Integration with Other ERP Modules</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    
  </ul>
</li>


{#4Warehouse#}
<li>
  <a href="#">Warehouse</a>
  <i class='bx bxs-chevron-down sales-arrow arrow'></i>
  <ul class="sales-sub-menu sub-menu">

    
    
    <li class="more">
      <span><a href="#">Recieving</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
        <li><a href="#">Import Lead from V-card</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Put-away </a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Accounts</a></li>
        <li><a href="#">View Accounts</a></li>
        <li><a href="#">Import Accounts</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Storage</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Contacts</a></li>
        <li><a href="#">View Contacts</a></li>
        <li><a href="#">Import Contacts</a></li>
        <li><a href="#">Import Contacts from V-card</a></li>
      
      </ul>
    </li>

    <li class="more">
      <span><a href="#">Order Processing</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Picking</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#"> Packing</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Shipping</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Returns Processing</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    
  </ul>
</li>

{#5Production Planning #}
<li>
  <a href="#">Production</a>
  <i class='bx bxs-chevron-down sales-arrow arrow'></i>
  <ul class="sales-sub-menu sub-menu">

    
    
    <li class="more">
      <span><a href="#">Product</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
        <li><a href="#">Import Lead from V-card</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Resources </a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Accounts</a></li>
        <li><a href="#">View Accounts</a></li>
        <li><a href="#">Import Accounts</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Capacity</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Contacts</a></li>
        <li><a href="#">View Contacts</a></li>
        <li><a href="#">Import Contacts</a></li>
        <li><a href="#">Import Contacts from V-card</a></li>
      
      </ul>
    </li>

    <li class="more">
      <span><a href="#">Purchasing</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Reports</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#"> Manufacturing</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    
  </ul>
</li>


{#6 Supply Chain Management #}
<li>
            <a href="#">Supply Chain</a>
            <i class='bx bxs-chevron-down sales-arrow arrow'></i>
            <ul class="sales-sub-menu sub-menu">
          
              
              
              <li class="more">
                <span><a href="#">Supplier Management</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                  <li><a href="#">Import Lead from V-card</a></li>
                
                </ul>
              </li>
          
          
              <li class="more">
                <span><a href="#">Procurement </a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Accounts</a></li>
                  <li><a href="#">View Accounts</a></li>
                  <li><a href="#">Import Accounts</a></li>
                
                </ul>
              </li>
          
          
              <li class="more">
                <span><a href="#">Inventory and Material Planning</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Contacts</a></li>
                  <li><a href="#">View Contacts</a></li>
                  <li><a href="#">Import Contacts</a></li>
                  <li><a href="#">Import Contacts from V-card</a></li>
                
                </ul>
              </li>
          
              <li class="more">
                <span><a href="#">Production Planning</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Warehouse Management</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Order Fullfullment </a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Logistics and Distribution </a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Sales and Customer Service </a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              <li class="more">
                <span><a href="#">Finance and Reporting</a>
                  <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  
                  <li><a href="#">Create Lead</a></li>
                  <li><a href="#">View Lead</a></li>
                  <li><a href="#">Import Lead</a></li>
                
                </ul>
              </li>
              
            </ul>
</li>


{#Dispatch#}

<li>
  <a href="#">Dispatch</a>
  <i class='bx bxs-chevron-down sales-arrow arrow'></i>
  <ul class="sales-sub-menu sub-menu">

    
    
    <li class="more">
      <span><a href="#">Order Confirmation</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
        <li><a href="#">Import Lead from V-card</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Inventory Check</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Accounts</a></li>
        <li><a href="#">View Accounts</a></li>
        <li><a href="#">Import Accounts</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Packing and Shipping</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Contacts</a></li>
        <li><a href="#">View Contacts</a></li>
        <li><a href="#">Import Contacts</a></li>
        <li><a href="#">Import Contacts from V-card</a></li>
      
      </ul>
    </li>

    <li class="more">
      <span><a href="#">Carrier Selection</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Shipment Tracking</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Dispatch Confirmation</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
  </ul>
</li>

{#7Business Intelligence #}

<li>
  <a href="#">Business</a>
  <i class='bx bxs-chevron-down sales-arrow arrow'></i>
  <ul class="sales-sub-menu sub-menu">

    
    
    <li class="more">
      <span><a href="#">Data Sources</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
        <li><a href="#">Import Lead from V-card</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Data Integration </a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Accounts</a></li>
        <li><a href="#">View Accounts</a></li>
        <li><a href="#">Import Accounts</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Data Warehouse</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Contacts</a></li>
        <li><a href="#">View Contacts</a></li>
        <li><a href="#">Import Contacts</a></li>
        <li><a href="#">Import Contacts from V-card</a></li>
      
      </ul>
    </li>

    <li class="more">
      <span><a href="#">End User Interface</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
  </ul>
</li>


{#8Hrms #}
<li>
  <a href="#">Human Resource</a>
  <i class='bx bxs-chevron-down sales-arrow arrow'></i>
  <ul class="sales-sub-menu sub-menu">

    
    
    <li class="more">
      <span><a href="#">Recruitment Management</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
        <li><a href="#">Import Lead from V-card</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Employee Management</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Accounts</a></li>
        <li><a href="#">View Accounts</a></li>
        <li><a href="#">Import Accounts</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Time and Attendance Management</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Contacts</a></li>
        <li><a href="#">View Contacts</a></li>
        <li><a href="#">Import Contacts</a></li>
        <li><a href="#">Import Contacts from V-card</a></li>
      
      </ul>
    </li>

    <li class="more">
      <span><a href="#">Payroll Management</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Performance Management</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Training and Development </a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Employee Self-Service Portal</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Benefits and Administration</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Compliance and Reporting</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    <li class="more">
      <span><a href="#">Exit Management</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
    </li>
    
  </ul>
</li>



{#9Logistics #}

<li>
  <a href="#">Logistics</a>
  <i class='bx bxs-chevron-down sales-arrow arrow'></i>
  <ul class="sales-sub-menu sub-menu">

    
    
    <li class="more">
      <span><a href="#">Accounts</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
        <li><a href="#">Import Lead from V-card</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Finance</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Accounts</a></li>
        <li><a href="#">View Accounts</a></li>
        <li><a href="#">Import Accounts</a></li>
      
      </ul>
    </li>


    <li class="more">
      <span><a href="#">Inventory Management</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Contacts</a></li>
        <li><a href="#">View Contacts</a></li>
        <li><a href="#">Import Contacts</a></li>
        <li><a href="#">Import Contacts from V-card</a></li>
      
      </ul>
    </li>

    <li class="more">
      <span><a href="#">Warehouse</a>
        <i class='bx bxs-chevron-right arrow more-arrow'></i>
      </span>
      <ul class="more-sub-menu sub-menu">
        
        <li><a href="#">Create Lead</a></li>
        <li><a href="#">View Lead</a></li>
        <li><a href="#">Import Lead</a></li>
      
      </ul>
      </li>

      <li class="more">
        <span><a href="#">Production Planning</a>
          <i class='bx bxs-chevron-right arrow more-arrow'></i>
        </span>
        <ul class="more-sub-menu sub-menu">
          
          <li><a href="#">Create Lead</a></li>
          <li><a href="#">View Lead</a></li>
          <li><a href="#">Import Lead</a></li>
        
        </ul>
        </li>
        <li class="more">
          <span><a href="#">Supply Chain Management</a>
            <i class='bx bxs-chevron-right arrow more-arrow'></i>
          </span>
          <ul class="more-sub-menu sub-menu">
            
            <li><a href="#">Create Lead</a></li>
            <li><a href="#">View Lead</a></li>
            <li><a href="#">Import Lead</a></li>
          
          </ul>
          </li>
          <li class="more">
            <span><a href="#">Business Intelligence</a>
              <i class='bx bxs-chevron-right arrow more-arrow'></i>
            </span>
            <ul class="more-sub-menu sub-menu">
              
              <li><a href="#">Create Lead</a></li>
              <li><a href="#">View Lead</a></li>
              <li><a href="#">Import Lead</a></li>
            
            </ul>
            </li>
            <li class="more">
              <span><a href="#">Human Resource Management System</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              <ul class="more-sub-menu sub-menu">
                
                <li><a href="#">Create Lead</a></li>
                <li><a href="#">View Lead</a></li>
                <li><a href="#">Import Lead</a></li>
              
              </ul>
              </li>





  </ul>
</li>

        </ul>
      </div>
      
 
       
      <div class="search-box">
        
        <i class='bx bx-search'></i>
        <div class="input-box">
          <input type="text" placeholder="Search...">
        </div>
      </div>

      {% comment %} anujprofile {% endcomment %}


      <div class="profile-dropdown">
        <div  onclick="toggle()">
          <div>
            <img class="img1" src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg" alt="Profile" />
          </div>
        </div>
    
        <!-- profile menu start -->
        <ul class="profile-dropdown-list">
          <li class="profile-dropdown-list-item">
            <a href="#">
              <div class="custom-icon">✉️</div>
              Name
            </a>
          </li>
    
          <li class="profile-dropdown-list-item">
            <a href="{% url "viewprofile" %}">
              <div class="custom-icon">👁️</div>
              View Profile
            </a>
          </li>
    
          <li class="profile-dropdown-list-item">
            <a href="{% url "profile" %}">
              <div class="custom-icon">✏️</div>
              Edit Profile
            </a>
          </li>
    
          <li class="profile-dropdown-list-item">
            <a href="#">
              <div class="custom-icon">📊</div>
              Community Forum
            </a>
          </li>
    
          <li class="profile-dropdown-list-item">
            <a href="#">
              <div class="custom-icon">⚙️</div>
              About
            </a>
          </li>
    
          <li class="profile-dropdown-list-item">
            <a href="{% url "login" %}">
              <div class="custom-icon">↩️</div>
              Log out
            </a>
          </li>
        </ul>
      </div>
    



    </div>
  </nav>



  <!-- NAVBAR -->
  <!-- CONTENT -->
  <section id="content">

    <!-- MAIN -->
    <main>
      <ul class="box-info">
        <li class="small-li w-10">
          <i class="bx bx-phone small"></i>
            <a href="#">My Calls</a>
        </li>
        <li>
          <i class="bx bxs-group"></i>
            <a href="#">My Activity Stream</a>
        </li>
        <li>
          <i class="bx bx-calendar-event"></i>
            <a href="#">My Meetings</a>
        </li>
        <li>
          <i class="bx bx-group"></i>
            <a href="#">My Leads</a>
        </li>
        <li>
          <i class="bx bx-dollar-circle"></i>
            <a href="#">My Top Open Opportunities</a>
        </li>
        <li>
          <i class="bx bx-shopping-bag"></i>
            <a href="#">Sales</a>
        </li>
      </ul>

      <div class="table-data">
        <div class="meetings">
          <div class="head">
            <h3>Recent Meetings</h3>
            <button type="button" class="meeting-search-btn">
              <i class="bx bx-search"></i>
            </button>
            <input type="search" placeholder="Search Meetings..." class="meeting-search" hidden />
          </div>
          <table>
            <thead>
              <tr>
                <th>Lead</th>
                <th>Date Meeting</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>Lead Name 1</p>
                </td>
                <td>01-10-2021</td>
                <td><span class="status completed">Completed</span></td>
              </tr>
              <tr>
                <td>
                  <p>Lead Name 2</p>
                </td>
                <td>01-10-2021</td>
                <td><span class="status pending">Pending</span></td>
              </tr>
              <tr>
                <td>
                  <p>Lead Name 3</p>
                </td>
                <td>01-10-2021</td>
                <td><span class="status cancel">Cancel</span></td>
              </tr>
              <tr>
                <td>
                  <p>Lead Name 4</p>
                </td>
                <td>01-10-2021</td>
                <td><span class="status pending">Pending</span></td>
              </tr>
              <tr>
                <td>
                  <p>Lead Name 5</p>
                </td>
                <td>01-10-2021</td>
                <td><span class="status completed">Completed</span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="sales">
          <div class="head">
            <h3>Sales</h3>
            <button type="button" class="sales-search-btn">
              <i class="bx bx-search"></i>
            </button>
            <input type="search" placeholder="Search Sales..." class="sales-search" hidden />
          </div>
          <ul class="sales-list">
            <li class="available">
              <p>Sale A - $20,000 Deal</p>
              <i class="bx bx-dots-vertical-rounded"></i>
            </li>
            <li class="available">
              <p>Sale B - $15,000 Deal</p>
              <i class="bx bx-dots-vertical-rounded"></i>
            </li>
            <li class="not-available">
              <p>Sale C - $30,000 Deal</p>
              <i class="bx bx-dots-vertical-rounded"></i>
            </li>
            <li class="available">
              <p>Sale D - $25,000 Deal</p>
              <i class="bx bx-dots-vertical-rounded"></i>
            </li>
            <li class="not-available">
              <p>Sale E - $40,000 Deal</p>
              <i class="bx bx-dots-vertical-rounded"></i>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->

  <script>




    // Search box open close js code
    let navbar = document.querySelector(".navbar");
    let searchBox = document.querySelector(".search-box .bx-search");
    searchBox.addEventListener("click", () => {
      navbar.classList.toggle("showInput");
      if (navbar.classList.contains("showInput")) {
        searchBox.classList.replace("bx-search", "bx-x");
      } else {
        searchBox.classList.replace("bx-x", "bx-search");
      }
    });

    // Sidebar open close js code
    let navLinks = document.querySelector(".nav-links");
    let menuOpenBtn = document.querySelector(".navbar .bx-menu");
    let menuCloseBtn = document.querySelector(".nav-links .bx-x");

    menuOpenBtn.onclick = function () {
      navLinks.style.left = "0";
    }
    menuCloseBtn.onclick = function () {
      navLinks.style.left = "-100%";
    }

    // Sidebar submenu open close js code
    let salesArrow = document.querySelector(".sales-arrow");
    salesArrow.onclick = function () {
      let salesSubMenu = document.querySelector(".sales-sub-menu");
      salesSubMenu.classList.toggle("active");
    }



    let marketingArrow = document.querySelector(".marketing-arrow");
    marketingArrow.onclick = function () {
      let marketingSubMenu = document.querySelector(".marketing-sub-menu");
      marketingSubMenu.classList.toggle("active");
    }



    let collaborationArrow = document.querySelector(".collaboration-arrow");
    collaborationArrow.onclick = function () {
      let collaborationSubMenu = document.querySelector(".collaboration-sub-menu");
      collaborationSubMenu.classList.toggle("active");
    }


    let activitiesArrow = document.querySelector(".activities-arrow");
    activitiesArrow.onclick = function () {
      let activitiesSubMenu = document.querySelector(".activities-sub-menu");
      activitiesSubMenu.classList.toggle("active");
    }


    let supportArrow = document.querySelector(".support-arrow");
    supportArrow.onclick = function () {
      let supportSubMenu = document.querySelector(".support-sub-menu");
      supportSubMenu.classList.toggle("active");
    }


    let allArrow = document.querySelector(".all-arrow");
    allArrow.onclick = function () {
      let allSubMenu = document.querySelector(".all-sub-menu");
      allSubMenu.classList.toggle("active");
    }





    // More submenu toggle
    let moreArrows = document.querySelectorAll(".more-arrow");
    moreArrows.forEach(arrow => {
      arrow.onclick = function (e) {
        e.stopPropagation();
        let moreSubMenu = arrow.parentElement.nextElementSibling;
        moreSubMenu.classList.toggle("active");
      }
    });

    //anuj profile

  
    let profileDropdownList = document.querySelector(".profile-dropdown-list");

const toggle = () => {
  profileDropdownList.classList.toggle("active");
};

// Clicking outside the dropdown closes it
window.addEventListener("click", function (e) {
  const btn = document.querySelector(".profile-dropdown-btn");
  if (!btn.contains(e.target)) {
    profileDropdownList.classList.remove("active");
  }
});

    



    //sunny
    const meetingSearchBtn = document.querySelector(".meeting-search-btn");

		const meetingSearchInput = document.querySelector(".meeting-search");

		meetingSearchBtn.addEventListener("click", function () {
			meetingSearchInput.hidden = !meetingSearchInput.hidden; // Toggle visibility
			if (!meetingSearchInput.hidden) {
				meetingSearchInput.focus(); // Focus on input when shown
			}
		});

		// Search and filter functionality for Recent Meetings
		meetingSearchInput.addEventListener("input", function () {
			const searchTerm = this.value.toLowerCase();
			const meetingRows = document.querySelectorAll(".meetings table tbody tr");
			meetingRows.forEach((row) => {
				const leadName = row.querySelector("td p").textContent.toLowerCase();
				row.style.display = leadName.includes(searchTerm) ? "" : "none"; // Show or hide rows based on search term
			});
		});

		// Toggle search box for sales
		const salesSearchBtn = document.querySelector(".sales-search-btn");
		const salesSearchInput = document.querySelector(".sales-search");

		salesSearchBtn.addEventListener("click", function () {
			salesSearchInput.hidden = !salesSearchInput.hidden; // Toggle visibility
			if (!salesSearchInput.hidden) {
				salesSearchInput.focus(); // Focus on input when shown
			}
		});

		// Search and filter functionality for Sales
		salesSearchInput.addEventListener("input", function () {
			const searchTerm = this.value.toLowerCase();
			const salesList = document.querySelectorAll(".sales-list li");
			salesList.forEach((sale) => {
				const saleInfo = sale.querySelector("p").textContent.toLowerCase();
				sale.style.display = saleInfo.includes(searchTerm) ? "" : "none"; // Show or hide sales based on search term
			});

      
		});

  </script>
</body>

</html>
